body{
  margin: 0;
}

.konten{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vw;
  min-height: 100vh;
}

/* navbar */
.navv{
  background: rgb(64,159,249);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

.btnx{
  width: 90%;
  margin-top: 4vw;
  padding: 5vw;
  border: 0.3vw solid gold;
  background: rgb(33,139,239);
  color: white;
  border-radius: 2vw;
}

.img1{
  width: 90%;
  margin-top: 5vw;
  border: 0.5vw solid gold;
  border-radius: 2vw;
}

.tagh{
  color: rgb(33,139,239);
}
.tagp{
  color: black;
  font-size: 0.9rem;
}

.tagfo{
  background: rgb(48,70,91);
  height: 35vw;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn2{
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  right: 3vw;
}

.cos{
  background: aqua;
  height: 60%;
  width: 80%;
  position: fixed;
  top: 20%;
  left: 10%;
  z-index: 999;
}

.ove{
  position: fixed;
  top: 0;
  background: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  z-index: 555;
}

.sec{
  width: 90%;
}